
<% t =  data.gliomas%>
<div id="home">
  <div id="sidebar">
    <h1>sidebar</h1>
  </div>
  <div class="main">
    <div class="container">
      <%= partial(:'components/header1', :locals => { :text => t.title}) %>

      <%= partial(:'components/header2', :locals => { :text => t.presentacion}) %>
      <p> <%= t.presentacion_text %> <span class="container__highlight"><%= t.presentacion_span %></span></p>

      <%= partial(:'components/header2', :locals => { :text => t.objetivos}) %>
      <p> <%= t.objetivos_text %></p>

      <%= partial(:'components/header2', :locals => { :text => t.epidemiologia}) %>
      <p> <%= t.epidemiologia_text %></p>

      <div class="card_row">
        <%= partial(:'components/card', :locals => { :title => t.hipertension, :body => t.hipertension_body }) %>
        <%= partial(:'components/card', :locals => { :title => t.focalidad, :body => t.focalidad_body }) %>
      </div>

      <div class="card_row">
        <%= partial(:'components/card', :locals => { :title => t.epilepsia, :body => t.epilepsia_body }) %>
      </div>

      <p> <span class="container__highlight"><%= t.incidencia_span %></span> <%= t.incidencia_text %> </p>

      <%= partial(:'components/list',  :locals => { :list_items => [t.edad, t.tamaño, t.reseccion, t.idh ]}) %>

      <p><%= t.criterios  %></p>
      <p><%= t.sospecha  %></p>


    </div>
  </div>
</div>
